<a href="https://colab.research.google.com/github/domywillygithub/Codes/blob/main/Pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
! pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.4.0.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 4.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.0-py2.py3-none-any.whl size=311317130 sha256=6e2c2a45178ff93a41f93708601cf2386629eacc4687abaa6fa8b96f624f99c3
  Stored in directory: /root/.cache/pip/wheels/7b/1b/4b/3363a1d04368e7ff0d408e57ff57966fcdf00583774e761327
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.0

In [3]:
import pyspark

In [3]:
import pandas as pd
pd.read_csv('/content/airline_passengers.csv')

       Month  Thousands of Passengers
0    1949-01                      112
1    1949-02                      118
2    1949-03                      132
3    1949-04                      129
4    1949-05                      121
..       ...                      ...
139  1960-08                      606
140  1960-09                      508
141  1960-10                      461
142  1960-11                      390
143  1960-12                      432

[144 rows x 2 columns]

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark=SparkSession.builder.appName('Practise').getOrCreate()

In [6]:
 spark

In [8]:
df_pyspark=spark.read.csv('/content/airline_passengers.csv')

In [9]:
df_pyspark

DataFrame[_c0: string, _c1: string]

In [10]:
df_pyspark.show()

+-------+--------------------+
|    _c0|                 _c1|
+-------+--------------------+
|  Month|Thousands of Pass...|
|1949-01|                 112|
|1949-02|                 118|
|1949-03|                 132|
|1949-04|                 129|
|1949-05|                 121|
|1949-06|                 135|
|1949-07|                 148|
|1949-08|                 148|
|1949-09|                 136|
|1949-10|                 119|
|1949-11|                 104|
|1949-12|                 118|
|1950-01|                 115|
|1950-02|                 126|
|1950-03|                 141|
|1950-04|                 135|
|1950-05|                 125|
|1950-06|                 149|
|1950-07|                 170|
+-------+--------------------+
only showing top 20 rows

In [19]:
df_pyspark=spark.read.option('header','true').csv('/content/airline_passengers.csv',inferSchema=True)

In [20]:
df_pyspark.show()

+-------------------+-----------------------+
|              Month|Thousands of Passengers|
+-------------------+-----------------------+
|1949-01-01 00:00:00|                    112|
|1949-02-01 00:00:00|                    118|
|1949-03-01 00:00:00|                    132|
|1949-04-01 00:00:00|                    129|
|1949-05-01 00:00:00|                    121|
|1949-06-01 00:00:00|                    135|
|1949-07-01 00:00:00|                    148|
|1949-08-01 00:00:00|                    148|
|1949-09-01 00:00:00|                    136|
|1949-10-01 00:00:00|                    119|
|1949-11-01 00:00:00|                    104|
|1949-12-01 00:00:00|                    118|
|1950-01-01 00:00:00|                    115|
|1950-02-01 00:00:00|                    126|
|1950-03-01 00:00:00|                    141|
|1950-04-01 00:00:00|                    135|
|1950-05-01 00:00:00|                    125|
|1950-06-01 00:00:00|                    149|
|1950-07-01 00:00:00|                    170|
|1950-08-01 00:00:00|                    170|
+-------------------+-----------------------+
only showing top 20 rows

In [21]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [22]:
df_pyspark.head(5)

[Row(Month=datetime.datetime(1949, 1, 1, 0, 0), Thousands of Passengers=112),
 Row(Month=datetime.datetime(1949, 2, 1, 0, 0), Thousands of Passengers=118),
 Row(Month=datetime.datetime(1949, 3, 1, 0, 0), Thousands of Passengers=132),
 Row(Month=datetime.datetime(1949, 4, 1, 0, 0), Thousands of Passengers=129),
 Row(Month=datetime.datetime(1949, 5, 1, 0, 0), Thousands of Passengers=121)]

In [23]:
df_pyspark.printSchema()

root
 |-- Month: timestamp (nullable = true)
 |-- Thousands of Passengers: integer (nullable = true)

In [25]:
df_pyspark.columns

['Month', 'Thousands of Passengers']

In [27]:
df_pyspark.select('Month').show()

+-------------------+
|              Month|
+-------------------+
|1949-01-01 00:00:00|
|1949-02-01 00:00:00|
|1949-03-01 00:00:00|
|1949-04-01 00:00:00|
|1949-05-01 00:00:00|
|1949-06-01 00:00:00|
|1949-07-01 00:00:00|
|1949-08-01 00:00:00|
|1949-09-01 00:00:00|
|1949-10-01 00:00:00|
|1949-11-01 00:00:00|
|1949-12-01 00:00:00|
|1950-01-01 00:00:00|
|1950-02-01 00:00:00|
|1950-03-01 00:00:00|
|1950-04-01 00:00:00|
|1950-05-01 00:00:00|
|1950-06-01 00:00:00|
|1950-07-01 00:00:00|
|1950-08-01 00:00:00|
+-------------------+
only showing top 20 rows

In [43]:
df_pyspark.select(['Month', 'Thousands of Passengers']).show()

+-------------------+-----------------------+
|              Month|Thousands of Passengers|
+-------------------+-----------------------+
|1949-01-01 00:00:00|                    112|
|1949-02-01 00:00:00|                    118|
|1949-03-01 00:00:00|                    132|
|1949-04-01 00:00:00|                    129|
|1949-05-01 00:00:00|                    121|
|1949-06-01 00:00:00|                    135|
|1949-07-01 00:00:00|                    148|
|1949-08-01 00:00:00|                    148|
|1949-09-01 00:00:00|                    136|
|1949-10-01 00:00:00|                    119|
|1949-11-01 00:00:00|                    104|
|1949-12-01 00:00:00|                    118|
|1950-01-01 00:00:00|                    115|
|1950-02-01 00:00:00|                    126|
|1950-03-01 00:00:00|                    141|
|1950-04-01 00:00:00|                    135|
|1950-05-01 00:00:00|                    125|
|1950-06-01 00:00:00|                    149|
|1950-07-01 00:00:00|                    170|
|1950-08-01 00:00:00|                    170|
+-------------------+-----------------------+
only showing top 20 rows

In [44]:
df_pyspark.dtypes

[('Month', 'timestamp'), ('Thousands of Passengers', 'int')]

In [46]:
df_pyspark.describe().show()

+-------+-----------------------+
|summary|Thousands of Passengers|
+-------+-----------------------+
|  count|                    144|
|   mean|      280.2986111111111|
| stddev|     119.96631694294322|
|    min|                    104|
|    max|                    622|
+-------+-----------------------+

In [51]:
# adding columns in dataframe
df_pyspark.withColumn('New Number of Passenger', df_pyspark['Thousands of Passengers']+10).show()

+-------------------+-----------------------+-----------------------+
|              Month|Thousands of Passengers|New Number of Passenger|
+-------------------+-----------------------+-----------------------+
|1949-01-01 00:00:00|                    112|                    122|
|1949-02-01 00:00:00|                    118|                    128|
|1949-03-01 00:00:00|                    132|                    142|
|1949-04-01 00:00:00|                    129|                    139|
|1949-05-01 00:00:00|                    121|                    131|
|1949-06-01 00:00:00|                    135|                    145|
|1949-07-01 00:00:00|                    148|                    158|
|1949-08-01 00:00:00|                    148|                    158|
|1949-09-01 00:00:00|                    136|                    146|
|1949-10-01 00:00:00|                    119|                    129|
|1949-11-01 00:00:00|                    104|                    114|
|1949-12-01 00:00:00|                    118|                    128|
|1950-01-01 00:00:00|                    115|                    125|
|1950-02-01 00:00:00|                    126|                    136|
|1950-03-01 00:00:00|                    141|                    151|
|1950-04-01 00:00:00|                    135|                    145|
|1950-05-01 00:00:00|                    125|                    135|
|1950-06-01 00:00:00|                    149|                    159|
|1950-07-01 00:00:00|                    170|                    180|
|1950-08-01 00:00:00|                    170|                    180|
+-------------------+-----------------------+-----------------------+
only showing top 20 rows

In [53]:
df_pyspark.drop('Month').show()

+-----------------------+
|Thousands of Passengers|
+-----------------------+
|                    112|
|                    118|
|                    132|
|                    129|
|                    121|
|                    135|
|                    148|
|                    148|
|                    136|
|                    119|
|                    104|
|                    118|
|                    115|
|                    126|
|                    141|
|                    135|
|                    125|
|                    149|
|                    170|
|                    170|
+-----------------------+
only showing top 20 rows

In [54]:
# Renaming the columns
df_pyspark.withColumnRenamed('Month', 'Days').show()

+-------------------+-----------------------+
|               Days|Thousands of Passengers|
+-------------------+-----------------------+
|1949-01-01 00:00:00|                    112|
|1949-02-01 00:00:00|                    118|
|1949-03-01 00:00:00|                    132|
|1949-04-01 00:00:00|                    129|
|1949-05-01 00:00:00|                    121|
|1949-06-01 00:00:00|                    135|
|1949-07-01 00:00:00|                    148|
|1949-08-01 00:00:00|                    148|
|1949-09-01 00:00:00|                    136|
|1949-10-01 00:00:00|                    119|
|1949-11-01 00:00:00|                    104|
|1949-12-01 00:00:00|                    118|
|1950-01-01 00:00:00|                    115|
|1950-02-01 00:00:00|                    126|
|1950-03-01 00:00:00|                    141|
|1950-04-01 00:00:00|                    135|
|1950-05-01 00:00:00|                    125|
|1950-06-01 00:00:00|                    149|
|1950-07-01 00:00:00|                    170|
|1950-08-01 00:00:00|                    170|
+-------------------+-----------------------+
only showing top 20 rows

In [55]:
df_pyspark.na.drop().show()

+-------------------+-----------------------+
|              Month|Thousands of Passengers|
+-------------------+-----------------------+
|1949-01-01 00:00:00|                    112|
|1949-02-01 00:00:00|                    118|
|1949-03-01 00:00:00|                    132|
|1949-04-01 00:00:00|                    129|
|1949-05-01 00:00:00|                    121|
|1949-06-01 00:00:00|                    135|
|1949-07-01 00:00:00|                    148|
|1949-08-01 00:00:00|                    148|
|1949-09-01 00:00:00|                    136|
|1949-10-01 00:00:00|                    119|
|1949-11-01 00:00:00|                    104|
|1949-12-01 00:00:00|                    118|
|1950-01-01 00:00:00|                    115|
|1950-02-01 00:00:00|                    126|
|1950-03-01 00:00:00|                    141|
|1950-04-01 00:00:00|                    135|
|1950-05-01 00:00:00|                    125|
|1950-06-01 00:00:00|                    149|
|1950-07-01 00:00:00|                    170|
|1950-08-01 00:00:00|                    170|
+-------------------+-----------------------+
only showing top 20 rows

In [56]:
#df_pyspark.na.drop(how=all,any) any is by default but all is when all the column is null in that particular row
#tresh only checks for what the minimum number of nulls you want to drop
#subset based on particular column

In [57]:
df_pyspark.na.fill('Missing values').show()

+-------------------+-----------------------+
|              Month|Thousands of Passengers|
+-------------------+-----------------------+
|1949-01-01 00:00:00|                    112|
|1949-02-01 00:00:00|                    118|
|1949-03-01 00:00:00|                    132|
|1949-04-01 00:00:00|                    129|
|1949-05-01 00:00:00|                    121|
|1949-06-01 00:00:00|                    135|
|1949-07-01 00:00:00|                    148|
|1949-08-01 00:00:00|                    148|
|1949-09-01 00:00:00|                    136|
|1949-10-01 00:00:00|                    119|
|1949-11-01 00:00:00|                    104|
|1949-12-01 00:00:00|                    118|
|1950-01-01 00:00:00|                    115|
|1950-02-01 00:00:00|                    126|
|1950-03-01 00:00:00|                    141|
|1950-04-01 00:00:00|                    135|
|1950-05-01 00:00:00|                    125|
|1950-06-01 00:00:00|                    149|
|1950-07-01 00:00:00|                    170|
|1950-08-01 00:00:00|                    170|
+-------------------+-----------------------+
only showing top 20 rows

In [60]:
#use of imputer

from pyspark.ml.feature import Imputer

Imputer = Imputer(
    inputCols=[ 'Thousands of Passengers'],
    outputCols=['{}_imputed'.format(c) for c in [ 'Thousands of Passengers']]
).setStrategy('mean')

In [61]:
Imputer.fit(df_pyspark).transform(df_pyspark).show()

+-------------------+-----------------------+-------------------------------+
|              Month|Thousands of Passengers|Thousands of Passengers_imputed|
+-------------------+-----------------------+-------------------------------+
|1949-01-01 00:00:00|                    112|                            112|
|1949-02-01 00:00:00|                    118|                            118|
|1949-03-01 00:00:00|                    132|                            132|
|1949-04-01 00:00:00|                    129|                            129|
|1949-05-01 00:00:00|                    121|                            121|
|1949-06-01 00:00:00|                    135|                            135|
|1949-07-01 00:00:00|                    148|                            148|
|1949-08-01 00:00:00|                    148|                            148|
|1949-09-01 00:00:00|                    136|                            136|
|1949-10-01 00:00:00|                    119|                            119|
|1949-11-01 00:00:00|                    104|                            104|
|1949-12-01 00:00:00|                    118|                            118|
|1950-01-01 00:00:00|                    115|                            115|
|1950-02-01 00:00:00|                    126|                            126|
|1950-03-01 00:00:00|                    141|                            141|
|1950-04-01 00:00:00|                    135|                            135|
|1950-05-01 00:00:00|                    125|                            125|
|1950-06-01 00:00:00|                    149|                            149|
|1950-07-01 00:00:00|                    170|                            170|
|1950-08-01 00:00:00|                    170|                            170|
+-------------------+-----------------------+-------------------------------+
only showing top 20 rows

In [69]:
#use of filter
df_pyspark.filter("`Thousands of Passengers` <= 110").show()

+-------------------+-----------------------+
|              Month|Thousands of Passengers|
+-------------------+-----------------------+
|1949-11-01 00:00:00|                    104|
+-------------------+-----------------------+

In [70]:
df_pyspark.filter("`Thousands of Passengers` <= 110").select('Month').show()

+-------------------+
|              Month|
+-------------------+
|1949-11-01 00:00:00|
+-------------------+

In [73]:
df_pyspark.filter(df_pyspark['Thousands of Passengers'] <= 130).show()

+-------------------+-----------------------+
|              Month|Thousands of Passengers|
+-------------------+-----------------------+
|1949-01-01 00:00:00|                    112|
|1949-02-01 00:00:00|                    118|
|1949-04-01 00:00:00|                    129|
|1949-05-01 00:00:00|                    121|
|1949-10-01 00:00:00|                    119|
|1949-11-01 00:00:00|                    104|
|1949-12-01 00:00:00|                    118|
|1950-01-01 00:00:00|                    115|
|1950-02-01 00:00:00|                    126|
|1950-05-01 00:00:00|                    125|
|1950-11-01 00:00:00|                    114|
+-------------------+-----------------------+

In [74]:
df_pyspark.filter((df_pyspark['Thousands of Passengers'] <= 180) &(df_pyspark['Thousands of Passengers'] >= 150 ) ).show()

+-------------------+-----------------------+
|              Month|Thousands of Passengers|
+-------------------+-----------------------+
|1950-07-01 00:00:00|                    170|
|1950-08-01 00:00:00|                    170|
|1950-09-01 00:00:00|                    158|
|1951-02-01 00:00:00|                    150|
|1951-03-01 00:00:00|                    178|
|1951-04-01 00:00:00|                    163|
|1951-05-01 00:00:00|                    172|
|1951-06-01 00:00:00|                    178|
|1951-10-01 00:00:00|                    162|
|1951-12-01 00:00:00|                    166|
|1952-01-01 00:00:00|                    171|
|1952-02-01 00:00:00|                    180|
|1952-11-01 00:00:00|                    172|
|1953-11-01 00:00:00|                    180|
+-------------------+-----------------------+

In [76]:
df_pyspark.filter(~(df_pyspark['Thousands of Passengers'] >= 130)).show()

+-------------------+-----------------------+
|              Month|Thousands of Passengers|
+-------------------+-----------------------+
|1949-01-01 00:00:00|                    112|
|1949-02-01 00:00:00|                    118|
|1949-04-01 00:00:00|                    129|
|1949-05-01 00:00:00|                    121|
|1949-10-01 00:00:00|                    119|
|1949-11-01 00:00:00|                    104|
|1949-12-01 00:00:00|                    118|
|1950-01-01 00:00:00|                    115|
|1950-02-01 00:00:00|                    126|
|1950-05-01 00:00:00|                    125|
|1950-11-01 00:00:00|                    114|
+-------------------+-----------------------+

In [77]:
spark=SparkSession.builder.appName('Agg').getOrCreate()

In [78]:
spark

In [82]:
df_pyspark=spark.read.csv('/content/sampledata.csv', inferSchema=True,header=True)

In [83]:
df_pyspark.printSchema()

root
 |-- OrderDate: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- Distributor Name: string (nullable = true)
 |-- Item: string (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- Price per unit: double (nullable = true)
 |-- Sales: double (nullable = true)

In [88]:
df_pyspark.groupBy('Region').sum().show()

+-------+-------------+-------------------+------------------+
| Region|sum(Quantity)|sum(Price per unit)|        sum(Sales)|
+-------+-------------+-------------------+------------------+
|Central|         1199|  432.4500000000001|11139.069999999998|
|   East|          691| 118.86999999999998|           6002.09|
|   West|          231| 321.95000000000005|2486.7200000000003|
+-------+-------------+-------------------+------------------+

In [89]:
df_pyspark.groupBy('Item').sum().show()

+-------+-------------+-------------------+------------------+
|   Item|sum(Quantity)|sum(Price per unit)|        sum(Sales)|
+-------+-------------+-------------------+------------------+
|   Desk|           10|              525.0|            1700.0|
| Binder|          722|             172.86|           9577.65|
|    Pen|          278| 55.949999999999996|2045.2199999999998|
|Pen Set|          395|              83.39|           4169.87|
| Pencil|          716|              36.07|           2135.14|
+-------+-------------+-------------------+------------------+

In [90]:
df_pyspark.groupBy('Region').agg({'Quantity':'count', 'Sales':'sum'}).show()

+-------+------------------+---------------+
| Region|        sum(Sales)|count(Quantity)|
+-------+------------------+---------------+
|Central|11139.069999999998|             24|
|   East|           6002.09|             13|
|   West|2486.7200000000003|              6|
+-------+------------------+---------------+

In [92]:
df_pyspark.agg({'Sales':'sum'}).show()

+------------------+
|        sum(Sales)|
+------------------+
|19627.879999999997|
+------------------+

# DataFrame API

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark=SparkSession.builder.appName('Train').getOrCreate()

In [6]:
training=spark.read.csv('/content/Mydata.csv', header=True, inferSchema=True)

In [7]:
training.show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|Dominic| 31|        10| 30000|
|Mahamba| 30|         8| 25000|
|William| 29|         4| 20000|
| Sagaga| 24|         3| 20000|
|Warioba| 21|         1| 15000|
| Kilesa| 23|         2| 18000|
+-------+---+----------+------+

In [8]:
training.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [9]:
training.columns

['Name', 'Age', 'Experience', 'Salary']

In [11]:
from pyspark.ml.feature import VectorAssembler
featureassembler=VectorAssembler(inputCols=['Age','Experience'], outputCol='independent features')

In [12]:
output=featureassembler.transform(training)

In [13]:
output.show()

+-------+---+----------+------+--------------------+
|   Name|Age|Experience|Salary|independent features|
+-------+---+----------+------+--------------------+
|Dominic| 31|        10| 30000|         [31.0,10.0]|
|Mahamba| 30|         8| 25000|          [30.0,8.0]|
|William| 29|         4| 20000|          [29.0,4.0]|
| Sagaga| 24|         3| 20000|          [24.0,3.0]|
|Warioba| 21|         1| 15000|          [21.0,1.0]|
| Kilesa| 23|         2| 18000|          [23.0,2.0]|
+-------+---+----------+------+--------------------+

In [14]:
output.columns

['Name', 'Age', 'Experience', 'Salary', 'independent features']

In [15]:
finalized_data=output.select('independent features', 'Salary')

In [16]:
finalized_data.show()

+--------------------+------+
|independent features|Salary|
+--------------------+------+
|         [31.0,10.0]| 30000|
|          [30.0,8.0]| 25000|
|          [29.0,4.0]| 20000|
|          [24.0,3.0]| 20000|
|          [21.0,1.0]| 15000|
|          [23.0,2.0]| 18000|
+--------------------+------+

In [21]:
from pyspark.ml.regression import LinearRegression
train_data, test_data = finalized_data.randomSplit([0.75,0.25])
regressor=LinearRegression(featuresCol='independent features', labelCol='Salary')
regressor=regressor.fit(train_data)

In [22]:
regressor.coefficients

DenseVector([-526.3158, 2105.2632])

In [23]:
regressor.intercept

24868.42105263305

In [24]:
pred_results=regressor.evaluate(test_data)

In [25]:
pred_results.predictions.show()

+--------------------+------+-----------------+
|independent features|Salary|       prediction|
+--------------------+------+-----------------+
|          [23.0,2.0]| 18000|16973.68421052627|
|          [29.0,4.0]| 20000|18026.31578947337|
+--------------------+------+-----------------+

In [26]:
pred_results.meanAbsoluteError, pred_results.meanSquaredError, pred_results.rootMeanSquaredError

(1500.00000000018, 2474376.731302606, 1573.015171987418)